extends ./pug/temp1.pug

block append content
    section.sect1 Секция 1
    - let i = 1
    if i == 1
        .block1 Вариант 1 i = #{i}
    else
        .block1 Вариант 2 i = #{i}

    ul
        - let i2 = 0;
        - for(; i2 < 5; i2++)
            li= i2
    
    pre= "Это код \"<strong>Javascript</strong>\"."
    div= Math.min(5 + 7, 10) + Math.sqrt(9)
